<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">Fighters:</h1>
            <h4 class="text-center">
                <% if user_signed_in? %>
                    <% if current_user.email == 'jnelson0112@gmail.com' %>
                        <%= link_to new_fighter_path do %>
                            Add new fighter
                        <% end %>
                    <% end %>
                <% end %>
            </h4>
            <ul class="list-unstyled">
                <% @fighters.each do |fighter| %>
                    <li>
                        <div class="well row">
                            <div>
                                <%= link_to fighter do %>
                                    <h2 class="fighter-name"><%= fighter.name %></h2>
                                <% end %>
                                <p class="wins"> WINS: 
                                    <%= fighter.wins %>
                                </p>
                                <p class="losses"> LOSSES: 
                                    <%= fighter.losses %>
                                </p>
                                <p>
                                    <% if user_signed_in? %>
                                        <% if current_user.email == 'jnelson0112@gmail.com' %>
                                            <%= link_to edit_fighter_path(id: fighter.id) do %>
                                                Edit
                                            <% end %> | 
                                            <%= link_to "Delete", fighter, method: :delete, data: { confirm: "You sure?" } %>
                                        <% end %>
                                    <% end %>
                                </p>
                            </div>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>